*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bitter';
}

html {
  min-height: 100%;
  position: relative;
  text-align: center;
}

body {
  min-height: 100%;
  background: url("american-flag.jpg");
  background-size: auto;
}

/*TOP PART*/
.bar {
  background: rgb(230, 0, 40);
  color: white;
  text-align: center;
  padding: 20px;
}

.bar h1 {
  font-size: 60px;
}

.flash {
  padding: 20px;
  background-color: navy;
  border: 2px solid royalblue;
  color: white;
  width: 80%;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

/* MAIN */
.shell {
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;
}

.part {
  width: 49%;
}

.one {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 10px 5px;
}

.preamble {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
}

.preamble > h2 {
  padding-top: 20px;
}

.preamble > p {
  padding: 5px 30px;
  line-height: 1.4em;
}

/* FORM */
.form {
  display: inline-block;
  width: 90%;
  text-align: center;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: rgba(255,255,255,0.7);
}

.form label {
  display: inline-block;
}

.form fieldset {
  border: none;
  margin: 10px;
  display: inline-block;
}

.choices {
  width: 98px;
  text-align: right;
  margin: 0 40%;
}

fieldset > label:first-child {
  font-weight: 900;
  padding-bottom: 20px;
}

fieldset {
  width: 100%;
}

.choices fieldset > label {
  width: 100%;
}

fieldset p {
  padding-bottom: 10px;
  display: inline-block;
  padding-right: 10px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

input[type="submit"] {
  padding: 20px;
  font-size: 16px;
}

input[type="text"] {
  padding: 5px;
  width: 300px;
  font-size: 20px;
  margin: 0 10px;
}

/* TABLE */
.two {
  display: flex;
  justify-content: center;
  margin: 10px 5px;
}

.table {
  text-align: center;
}

table {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

td {
  border: 1px solid black;
  padding: 8px;
  background-color: rgba(255,255,255,0.5);
}

/* FOOTER */
.footer {
  background-color: darkgray;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: -60px;
}

@media (max-width: 991px) {
  .shell {
    display: inline-block;
    text-align: center;
  }
  .part {
    display: inline-block;
    width: 95%;
    margin: 10px 0;
  }

  table {
    width: 100%;
  }
  .bar h1 {
    font-size: 40px;
  }

  .bar h2 {
    display: none;
  }

}
