// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bitter';
}

html {
  min-height: 100%;
  position: relative;
  text-align: center;
}

body {
  min-height: 100%;
  background-image: asset-url("american-flag.jpg");
  background-size: auto;
}

/* POP UP */
.pop-up {
  display: none;
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin-top: -140px; /* negative height half */
  margin-left: -300px; /* negative width half */
  width: 600px;
  height: 280px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid black;
  color: white;
  z-index: 3;
  p {
    padding: 10px;
  }
  button {
    margin: 10px;
    padding: 15px;
  }
}

/*TOP PART*/
.bar {
  background: #C51A26;
  color: white;
  text-align: center;
  padding: 20px;
}

.bar h1 {
  font-size: 3.5em;
  font-family: 'Adamina';
}

.flash {
  padding: 20px;
  background-color: navy;
  border: 2px solid royalblue;
  color: white;
  width: 80%;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  margin: 30px 0 0;
  font-size: 1.3em;
}

/* MAIN */
.shell {
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;
  padding: 25px 0;
}

.part {
  width: 49%;
}

.one {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 10px 5px;
}

.preamble {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  width: 95%;
  text-align: center;
  display: inline-block;
}

.preamble > h2 {
  padding-top: 20px;
}

.preamble > p {
  padding: 5px 30px;
  line-height: 1.4em;
}

/* FORM */
.form {
  display: inline-block;
  width: 90%;
  text-align: center;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0 35px;
  background-color: rgba(255,255,255,0.7);
}

.form label {
  display: inline-block;
}

.form fieldset {
  border: none;
  margin: 10px;
  display: inline-block;
}

.choices {
  width: 98px;
  text-align: right;
  margin: 0 40%;
}

fieldset > label:first-child {
  font-weight: 900;
  padding-bottom: 20px;
}

fieldset {
  width: 90%;
}

.choices fieldset > label {
  width: 100%;
}

fieldset p {
  padding-bottom: 10px;
  display: inline-block;
  padding-right: 10px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

input[type="submit"] {
  padding: 20px;
  font-size: 16px;
}

input[type="text"] {
  padding: 5px;
  width: 300px;
  font-size: 20px;
  margin: 0 10px;
}

/* TABLE */
.two {
  display: flex;
  justify-content: center;
  margin: 10px 5px;
}

.table {
  text-align: center;
}

table {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid darkgray;
  background: rgba(255, 255, 255, 0.4);
  padding: 15px 20px;
}

td {
  border: 1px solid black;
  padding: 8px;
}

/* FOOTER */
.footer {
  background-color: darkgray;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: -60px;

  p:first-child {
    float: left;
    padding-left: 10px;
  }
  p:last-child {
    float: right;
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .shell {
    display: inline-block;
    text-align: center;
  }
  .part {
    display: inline-block;
    width: 95%;
    margin: 10px 0;
  }

  .table {
    padding: 15px;
  }

  table {
    width: 100%;
  }

  .bar {
    padding: 10px;
  }

  .bar h1 {
    font-size: 2em;
  }

  .bar h2 {
    display: none;
  }

  .footer {
    p:first-child {
      display: inline-block;
    }
    p:last-child {
      display: none;
    }
  }
}

@media (max-width: 555px) {
  .bar h1 {
    font-size: 1.5em;
  }

  fieldset {
    margin: 0;
  }

  input[type="text"] {
    width: 90%;
    text-align: center;
  }

  input[type="submit"] {
    width: 90%;
    text-align: center;
  }

  tr th:nth-child(2n), tr td:nth-child(2n) {
    display: none;
  }

  .footer {
    font-size: 0.8em;
    p:first-child {
      display: none;
    }
    p:last-child {
      display: inline-block;
    }
  }
}
